<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger] - %msg %n</Pattern>
        </encoder>
    </appender>

    <logger name="ru.crystals" level="INFO" additivity="true">
    </logger>

    <logger name="org.jnativehook" level="ERROR" additivity="true">
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </root>
</configuration>
